* {
    font-family: trebuchet ms, ubuntu, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-btn {
    margin: 10px;
    padding: 6rem 6rem;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background: linear-gradient(90deg, var(--c1), var(--c2) 51%, var(--c1)) var(--x, 0)/ 200%;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px #fbe7ff82;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.main-btn:hover {
    --x: 100%;
}

.main-btn:active {
    transform: scale(.95);
}


.main-btn {
    --c1: #fbc2eb;
    --c2: #a6c1ee;
}




.btn-animate-start {
    animation: appear;
    animation-duration: 4s;
}


@keyframes appear {
    from {
        opacity: 0;
        transform: scale(5);
        filter: blur(15px);
    }

    to {

        opacity: 1;
        transform: scale(1);
        filter: blur(0)
    }
}

.btn-bounce {
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

.btn-animate {
    animation: spray;
    animation-duration: 3s;
}


@keyframes spray {
    from {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }


    to {
        opacity: 0;
        transform: scale(5);
        filter: blur(15px)
    }
}

.btn-hide {
    display: none;
}